In [1]:
import yfinance as yf
import pandas as pd
import pandas_datareader.data as web

In [8]:
data = yf.download('SPY', auto_adjust=False)['Adj Close']

[*********************100%***********************]  1 of 1 completed

In [15]:
type(data)

pandas.core.frame.DataFrame

In [10]:
returns = data.pct_change().dropna()

In [12]:
type(returns)

pandas.core.frame.DataFrame

In [13]:
returns.name = 'SPY'

In [17]:
type(returns)

pandas.core.frame.DataFrame

In [61]:
ff = web.DataReader('F-F_Research_Data_Factors','famafrench',start='2000-01-01')[0]

C:\Users\erwin\AppData\Local\Temp\ipykernel_16260\97333662.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ff = web.DataReader('F-F_Research_Data_Factors','famafrench',start='2000-01-01')[0]
C:\Users\erwin\AppData\Local\Temp\ipykernel_16260\97333662.py:1: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ff = web.DataReader('F-F_Research_Data_Factors','famafrench',start='2000-01-01')[0]

In [32]:
ff.columns

Index(['Mkt-RF', 'SMB', 'HML', 'RF'], dtype='object')

In [62]:
ff = ff/100

In [35]:
merged = returns.join(ff, how='inner')

In [40]:
merged

Empty DataFrame
Columns: [SPY, Mkt-RF, SMB, HML, RF]
Index: []

In [63]:
ff

         Mkt-RF     SMB     HML      RF
Date
2000-01 -0.0474  0.0516 -0.0112  0.0041
2000-02  0.0246  0.2125 -0.0977  0.0043
2000-03  0.0521 -0.1741  0.0850  0.0047
2000-04 -0.0639 -0.0600  0.0645  0.0046
2000-05 -0.0439 -0.0608  0.0459  0.0050
...         ...     ...     ...     ...
2024-12 -0.0317 -0.0272 -0.0300  0.0037
2025-01  0.0280 -0.0195  0.0162  0.0037
2025-02 -0.0244 -0.0581  0.0491  0.0033
2025-03 -0.0639 -0.0276  0.0290  0.0034
2025-04 -0.0084 -0.0058 -0.0341  0.0035

[304 rows x 4 columns]

In [67]:
ff.index = ff.index.to_timestamp(how='end').normalize()

In [73]:
ff

            Mkt-RF     SMB     HML      RF
Date
2000-01-31 -0.0474  0.0516 -0.0112  0.0041
2000-02-29  0.0246  0.2125 -0.0977  0.0043
2000-03-31  0.0521 -0.1741  0.0850  0.0047
2000-04-30 -0.0639 -0.0600  0.0645  0.0046
2000-05-31 -0.0439 -0.0608  0.0459  0.0050
...            ...     ...     ...     ...
2024-12-31 -0.0317 -0.0272 -0.0300  0.0037
2025-01-31  0.0280 -0.0195  0.0162  0.0037
2025-02-28 -0.0244 -0.0581  0.0491  0.0033
2025-03-31 -0.0639 -0.0276  0.0290  0.0034
2025-04-30 -0.0084 -0.0058 -0.0341  0.0035

[304 rows x 4 columns]

In [72]:
merged.iloc[:, 0]

Date
2000-01-31    0.027139
2000-02-29    0.009642
2000-03-31    0.011349
2000-05-31    0.002193
2000-06-30    0.007586
                ...
2024-12-31   -0.003638
2025-01-31   -0.005322
2025-02-28    0.015606
2025-03-31    0.006713
2025-04-30    0.000397
Name: SPY, Length: 216, dtype: float64

In [57]:
ff.index = ff.index.normalize()

In [68]:
merged = returns.join(ff, how='inner')

In [69]:
merged

                 SPY  Mkt-RF     SMB     HML      RF
Date
2000-01-31  0.027139 -0.0474  0.0516 -0.0112  0.0041
2000-02-29  0.009642  0.0246  0.2125 -0.0977  0.0043
2000-03-31  0.011349  0.0521 -0.1741  0.0850  0.0047
2000-05-31  0.002193 -0.0439 -0.0608  0.0459  0.0050
2000-06-30  0.007586  0.0468  0.1271 -0.0804  0.0040
...              ...     ...     ...     ...     ...
2024-12-31 -0.003638 -0.0317 -0.0272 -0.0300  0.0037
2025-01-31 -0.005322  0.0280 -0.0195  0.0162  0.0037
2025-02-28  0.015606 -0.0244 -0.0581  0.0491  0.0033
2025-03-31  0.006713 -0.0639 -0.0276  0.0290  0.0034
2025-04-30  0.000397 -0.0084 -0.0058 -0.0341  0.0035

[216 rows x 5 columns]